<!DOCTYPE html>
<html data-ng-app="smartplayds" data-ng-controller="MainCtrl">
	<head>
		<link rel="stylesheet" type="text/css" href="css/vendor/bootstrap.css"/>
	</head>
	<body>
	<div class="page-header">
        <h1>SmartPlayDS <small>The smartest way to communicate!</small></h1>
    </div>
		
		<!--div data-ng-controller="loginController"-->
		<button data-ng-click="login()" class="btn btn-primary">Login</button>
		<button data-ng-click="listUsers()" class="btn btn-primary">List Users</button>
		<button data-ng-click="listPresentations()" class="btn btn-primary">List Presentations</button>
		

	<div data-ng-show="currentUser" id="loginUser">
		<h1>You're authenticated!</h1>
		Logged in as {{currentUser.displayName}} <img data-ng-src="{{currentUser.image.url}}">
    </div>
    	    
    <div class="panel panel-default" data-ng-show="userDetails" >
		<div class="panel-heading"> User Details from RiseVision </div>
		<div class="panel-body" data-ng-bind-html="userDetails"></div>
	</div>
	
	<div class="panel panel-default" data-ng-show="userList" >
		<div class="panel-heading"> User List </div>
		<div class="panel-body" data-ng-bind-html="userList"></div>
	</div>
	
    
    <div class="panel panel-default" data-ng-show="presentationList || presentationListRespError" >
		<div class="panel-heading"> Presentation List </div>
		<div class="panel-body" data-ng-show="presentationListRespError" data-ng-bind-html="presentationListRespError"></div>
		<div class="panel-body" data-ng-show="!presentationList.items.length" style="margin-left:30px;">No Presentations Found!</div>
		<div class="panel-body" data-ng-show="presentationList.items.length" style="margin-left:30px;">
			<span data-ng-repeat="p in presentationList.items">
				<label class="radio" for="{{p.id}}">
					<input type="radio" value="{{p.id}}" data-ng-model="pres" name="group" id="{{p.id}}" data-ng-click="getPresentation(p.id)"/>
				{{p.id}} ({{p.name}})
			</label>
			<button class="btn btn-primary" data-ng-show="pres==p.id" data-ng-click="publishPresentation(p.id)">Publish</button>
			<button class="btn btn-primary" data-ng-show="pres==p.id" data-ng-click="deletePresentation(p.id)">Delete</button>
			</span>
			<div data-ng-show="resp" data-ng-bind-html="resp"> </div>
		</div>
	</div>
	
	<div class="panel panel-default" data-ng-show="presentationInfo" style="position:absolute;width:100%;height:100%" >
		<div class="panel-heading"> Presentation {{presentationId}} Info </div>
		<div class="panel-body" data-ng-bind-html="presentationInfo | unsafe" style="position:absolute"></div>
	</div>
	
<!--
    <script type="text/javascript" src="js/vendor/jquery-2.1.1.js"></script>
-->
    <script type="text/javascript" src="js/vendor/angular.js"></script>
    <script type="text/javascript" src="js/vendor/angular-resource.js"></script>
    <script type="text/javascript" src="js/vendor/angular-sanitize.js"></script>
	<script type="text/javascript" src="js/vendor/angular-googleapi.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
	<script type="text/javascript" src="js/controllers.js"></script>

	<!--script type="text/javascript" src="ui-bootstrap-tpls-0.11.0.js"></script-->
	<script src="https://apis.google.com/js/client.js"></script>
	</body>
</html>
