<!DOCTYPE html>
<html data-ng-app="smartplayds" data-ng-controller="MainCtrl">
	<head>
		<link rel="stylesheet" type="text/css" href="css/vendor/bootstrap.css"/>
	</head>
	<body>
	<div class="page-header">
        <h1>SmartPlayDS <small>The smartest way to communicate!</small></h1>
    </div>
		
		<button data-ng-click="login()" data-ng-hide="authenticated" class="btn btn-primary">Login</button>
		<button data-ng-click="listUsers()" class="btn btn-primary">List Users</button>
		<!--button data-ng-click="showNewPresentationForm()" class="btn btn-primary">Create Presentation</button-->
		<button data-ng-click="listPresentations()" class="btn btn-primary">List Presentations</button>
		<button data-ng-click="listTemplates()" class="btn btn-primary">Create Presentation From template</button>
		<button data-ng-click="logout()" data-ng-show="authenticated" class="btn btn-primary">Logout</button>
		<div data-ng-show="currentUser!=null" id="loginUser">
		<h1>You're authenticated!</h1>
		Logged in as {{currentUser.displayName}} <img data-ng-src="{{currentUser.image.url}}">
    	    
		<div class="panel panel-default" data-ng-show="userDetails" >
			<div class="panel-heading"> User Details from RiseVision </div>
			<div class="panel-body" data-ng-bind-html="userDetails"></div>
		</div>
		
		<div class="panel panel-default" data-ng-show="userList" >
			<div class="panel-heading"> User List </div>
			<div class="panel-body" data-ng-bind-html="userList"></div>
		</div>
		
		<div class="container-fluid" data-ng-show="showNewPresForm">
			<data-ng-include src="'presentationForm.html'"></data-ng-include>
		</div>
		
		<!-- PRESENTATION LIST-->
		<div class="container-fluid" data-ng-show="presentationList || presentationListRespError">
			<div class="panel panel-default" style="margin:10px">
				<div class="panel-heading"> Presentation List </div>
				<div class="panel-body" data-ng-show="presentationListRespError" data-ng-bind-html="presentationListRespError"></div>
				<div class="panel-body" data-ng-show="!presentationList.items.length" style="margin-left:30px;">No Presentations Found!</div>
				<div class="panel-body" data-ng-show="presentationList.items.length" style="margin-left:30px;">
					<span data-ng-repeat="p in presentationList.items">
						<label class="radio" for="{{p.id}}">
							<input type="radio" value="{{p.id}}" data-ng-model="pres" name="group" id="{{p.id}}" data-ng-click="isThisTemplate(false);getPresentation(p.id)"/>
						{{p.id}} ({{p.name}})
					</label>
					<button class="btn btn-primary" data-ng-show="pres==p.id" data-ng-click="publishPresentation(p.id)">Publish</button>
					<button class="btn btn-primary" data-ng-show="pres==p.id" data-ng-click="deletePresentation(p.id)">Delete</button>
					<!--button class="btn btn-primary" data-ng-show="pres==p.id" data-ng-click="editPresentation(p.id)">Edit</button-->
					</span>
				</div>
			</div>
			<div class="panel panel-default" data-ng-show="showPresTabs==true" style="margin:10px">
					<data-ng-include src="'mytabset.html'"></data-ng-include>
			</div>
		</div>
		
		<!-- TEMPLATE LIST-->
		<div class="container-fluid" data-ng-show="templateList || templateListRespError">
			<div class="panel panel-default" style="margin:10px">
				<div class="panel-heading"> Template List </div>
				<div class="panel-body" data-ng-show="templateListRespError" data-ng-bind-html="templateListRespError"></div>
				<div class="panel-body" data-ng-show="!templateList.items.length" style="margin-left:30px;">No templates Found!</div>
				<div class="panel-body" data-ng-show="templateList.items.length" style="margin-left:30px;">
					<span data-ng-repeat="t in templateList.items">
						<label class="radio" for="{{t.id}}">
							<input type="radio" value="{{t.id}}" data-ng-model="pres" name="group" id="{{t.id}}" data-ng-click="isThisTemplate(true);getPresentation(t.id)"/>
						{{t.id}} ({{t.name}})
						</label>
					</span>
				</div>
					
				
			</div>
			<div class="panel panel-default" data-ng-show="showTemplateTabs==true" style="margin:10px">
					<data-ng-include src="'mytabset.html'"></data-ng-include>
			</div>
		</div>
		
    </div>
	
    <script type="text/javascript" src="js/vendor/angular.js"></script>
    <script type="text/javascript" src="js/vendor/angular-resource.js"></script>
    <script type="text/javascript" src="js/vendor/angular-sanitize.js"></script>
	<script type="text/javascript" src="js/vendor/angular-googleapi.js"></script>
	<script type="text/javascript" src="js/vendor/ui-bootstrap-tpls-0.11.0.js"></script>
	
	<script type="text/javascript" src="js/app.js"></script>
	<script type="text/javascript" src="js/controllers.js"></script>
	
	<script src="https://apis.google.com/js/client.js"></script>
	</body>
</html>
