<div class="panel panel-default">
	<div class="panel-heading" style> Presentation Form </div>
			
	<form novalidate role="form" class="simple-form" name="myPresForm">
		<div class="form-group" data-ng-hide="fromTemplate || showNewPresForm">
			<label>Presentation ID : </label>{{myPres.id}}
			<input type="hidden" data-ng-model="myPres.id" data-ng-value="myPres.id">
		</div>
		
		<div class="form-group">
			<label for="name">Presentation Name</label>
			<span class="label label-danger" data-ng-show="submitted && myPresForm.name.$error.required">Required!</span>	
			<input type="text" data-ng-model="myPres.name" name="name" class="form-control" required/>
		</div>
		
		<div class="form-group">
			<label for="layout">Presentation data</label>
			<span class="label label-danger" data-ng-show="submitted && myPresForm.layout.$error.required">Required!</span>	
			<textarea data-ng-model="myPres.layout" name="layout" class="form-control" required></textarea>
		</div>
		
		<div class="form-group">
			<label for="publishType">Publish To</label>
			<input type="radio" value="0" data-ng-model="myPres.publish" name="publishType"/> Only Signed In Users
			<input type="radio" value="1" data-ng-model="myPres.publish" name="publishType" /> Everyone					
		</div>
		
		<div class="form-group">
			<label for="presIsTemplate">Is Template? </label>
			<input type="checkbox" data-ng-model="myPres.isTemplate" name="presIsTemplate" data-ng-init="pres.isTemplate=false"/>
		</div>	          
		
		<button class="btn btn-primary" data-ng-hide="fromTemplate || showNewPresForm"  data-ng-click="updatePresentation(myPres,myPresForm)">Save</button>
		<button class="btn btn-primary" data-ng-show="fromTemplate || showNewPresForm" data-ng-click="createPresentation(myPres,myPresForm)">Create</button>
	</form>
</div>
